.searchPage{
    background-color:#e7e3e3;
}
.header{
    align-content: center;
    margin-top: 15px;
}
.result-item{
    margin: 10px;
}
.cont{
height: 30px;
}
.container.search-container{
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  max-width: 100%;;
}

.searchBarRow{
    background-color: rgba(230, 133, 43, .8);
    padding: 18px 0px 0px 0px;
}
.searchBarCol{
    justify-content: left;
}
.input-group{
    width: 250px;
}
.input-prepend{
    width: 30px;
    height: 32px;
}
.input-group-text{
    height: 32px;
    border-radius: 0px;
    border: none;
    background-color: #fff;
}
Input:focus{
    outline: none;
}
Input.searchInput{
    /* width: 250px; */
    width:220px;
    height: 32px;
    border: none;
}
Input.locationInput{
    width: 220px;
    height: 32px;
    border: none;
}
.searchBtn{
    height: 32px !important;
}
.btn-info{
    width: 130px;
}

.navbtn{
    border: none;
    margin-bottom: 3px;
}
li{
    margin-right: 3px;
    margin-left: 3px;
}
.col-md-3, .col-md-4, .col-md-5, .col-sm-12{
    padding-right: 5px;
    padding-left: 5px;
}
a:link{
    color: purple;
}
.card{
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
}
.card-body{
    padding-top: 3px;
    padding-bottom: 0px;
    padding-right: 10px;

}
.resultItem{
    margin-right: 0px;
}
.resultsList{
 border-right: 1px solid rgb(230, 229, 229);
}
p {
    margin-bottom: 0px;
    font-size: 15px;
}
.videosList{
    margin-top: 15px;
    padding: 10px;
    border-left: 1px solid rgb(230, 229, 229);
}
h10{
    font-size: 15px;
    /* font-weight: bold; */
    color: #555;
}
a{
    color: purple;
}
a:link{
    color: purple;
}

