footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 3px;
  background-color:#281942!important;
  box-shadow: 0px 3px 5px  5px rgba(0, 0, 0, .9);
  color: white;
  text-align: center;
}
#footer-logo {
  height: 45px;
  width: 70px;
  margin: 0px;
  padding: 0px
}
