.modalBtn{
    width: 80%;
    cursor: pointer;
}
.btn-primary{
    background-color: #281942;
    border: none;
    border-radius: 10px;
}
.btn-primary:hover {
    background-color: #3b2563;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
#user-info{
    color: white;
}